
.App {
  text-align: center;
  height:700px;
  min-width: 300px;
  width: 100%;
  background-color:#398C58;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appHeader {
  background-color: #222;
  color: white;
  width: 100%
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:white;
  margin:7px;
}

.buttonStyle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2px;
  transition-duration: 0.2s;
}

.buttonStyle:hover{
  outline-width: 1px;
  outline-style: solid;
  outline-color:limegreen;
}

#buttonClose {
  display: flex;
  justify-content: flex-start;
}

/* #buttonReset {
  position: relative;
  bottom:10px;
  right:20px;
} */

#mainSection{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#elementSelector{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#currentUrl:disabled{
  width: 250px;
  height:22px;
  background: rgb(252, 252, 252);
  margin-bottom: 3px;
  margin-top: 3px;
}

#displayImg{
  background-color: white;
  color:black;
  width: 50%;
  height:25px;
  margin-left:20px;
}

.appTitle {
  font-size: 1.5em;
  color:whitesmoke;
}
.App-TabList {
  display: flex;
  flex-direction: row;
}

.selectColorTitle{
  color:white;
  font-size: 1.3em;
}

#colorForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabStyle{
  color:white;
  font-weight: bold;
  margin: 5px;
  overflow: hidden;
  padding:2px;
}

#colorTab{
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

/* ------------Toggle Button------------- */
#toggleShrinker{
  display: flex;
  align-items: center;
  flex-direction: column;

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height:100%;
  width: 50%;
  left: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
