doctype html

html
  head
    meta(charset='UTF-8')
    title FrankenStyle App (Window)
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/main.bundle.js' : 'http://localhost:3000/js/main.bundle.js')
